@font-face {
    font-family:main;
    src: url(./images/Jedi.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: main;
}
body{
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

.main-btn{
    position: fixed;
    right: 10%;
    top: 10vh;
    z-index: 1;
    background-color: #926be7;
    text-decoration: none;
    text-align: center;
    color: white;
    height: 6vh;
    width: 15vw;
    font-size: 1.3vw;
    border-radius: 24px;
    overflow: hidden;
    display: block;
    padding-top: 1vh;
}

.main-btn::before{
    height: 100%;
    width: 100%;
    background-color: rgba(247, 4, 4, 0.505);
    content: "";
    display: block;
    position: absolute;
    top: -100%;
    transition: all 0.5s ease-in;
}

.main-btn:hover::before{
    top: 0%;
}
#page1{
    position: relative;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    background: linear-gradient(to bottom,#76d1ed,transparent);
}

.moving-txt{
    width: 100%;
    font-family: main;
    font-weight: 300;
    font-size: 5vw;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    gap: 3vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -10;
    overflow: hidden;
}

.moving-txt h1{
    display:block;
    color:rgba(0, 0, 0, 0.477);
    white-space: nowrap;
    transform: translateX(-200%);
}

#can-img{
    height: 80vh;
    width: 20vw;
    overflow: hidden;
    position: absolute;
    filter: drop-shadow(10px 10px 60px rgba(119, 236, 242, 0.34));
    top: 50%;
    left: 40%;
    z-index: -8;
}

#can-img img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
 
.moving-txt2{
    width: 100%;
    font-family: main;
    font-weight: bolder;
    font-size: 5vw;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    gap: 3vw;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -7;
    overflow: hidden;
}

.moving-txt2 h1{
    display:block;
    color:rgba(0, 0, 0, 0.477);
    white-space: nowrap;
    transform: translateX(0%);
    
}

#page2{
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: linear-gradient(to top,transparenttransparent);    
}

#conatiner{
    height: 80vh;
    width: 90vw;
    background-color: rgb(238, 233, 233);
    border-radius: 24px;
    display: flex;
    overflow: hidden;
    align-items: center;
}

#conatiner #info{
    height: 100%;
    width: 40%;
    font-weight:bolder;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 2vw;
}
#info h1{
    margin: 1vw;
    font-size: 4vw;
}

#info a{
    padding: 2vh 4vw;
    background-color: #76d1ed;
    border-radius: 19px;
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 0.2vw;
    transition:all 0.3s linear;
}

#info a:hover{
    background-color: black;
    color: #76d1ed;
}


#info-mob{
    display: none;
}
#brands{
    height: 100%;
    width: 55%;
    display: flex;
    gap:3vw;
    overflow: hidden;
}

#brands #left{
    height: 100%;
    width: 45%;
    overflow: hidden;
}
#left span{
    display: block;
    height: 25vh;
    width: 90%;
     margin: 5vh auto;
     transform: translateY(-400%);
     border-radius: 17px;
     position: relative;
     background: linear-gradient(to bottom,white,#b7e3f1b9);
     box-shadow: 2px 2px 11px 1px rgba(128, 128, 128, 0.637);
}

#left span img{
    width: 60%;
    object-fit: fill;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


#brands #right{
    height: 100%;
    width: 45%;
    overflow: hidden;
}




#right span{
    display: block;
    height: 25vh;
    width: 90%;
     margin: 5vh auto;
     transform: translateY(-550%);
     border-radius: 17px;
     position: relative;
     background: linear-gradient(to top,white,#b7e3f1b9);
     box-shadow: 2px 2px 11px 1px rgba(128, 128, 128, 0.637);
}



#right span img{
    width: 60%;
    object-fit: fill;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


#page3{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top,#76d1ed,transparent);
}


/*
  MOBILE SCREEN CODE.....
*/

@media screen and (max-width:488px) {
    


.moving-txt{
    font-size: 10vw;
    gap: 7vw;
}

.moving-txt h1{
    display:block;
    white-space: nowrap;
    transform: translateX(-200%);
}

#can-img{
    height: 60vh;
    width: 60vw;
    top: 50%;
    left: 20%;
}


#can-img img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
 
.moving-txt2{
    font-size: 10vw;
    gap: 10vw;
    top: 75%;
    left: 50%;
}


#page2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#conatiner{
    height: 70vh;
    width: 90vw;
}

#conatiner #info{
    height: 100%;
    width: 40%;
    font-weight:bolder;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 2vw;
    display: none;
}
#info h1{
    margin: 1vw;
    font-size: 4vw;
}

#info a{
    padding: 2vh 4vw;
    background-color: #76d1ed;
    border-radius: 19px;
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 0.2vw;
    transition:all 0.3s linear;
}



#info-mob{
    display: block;
    font-size: 6vw;
    margin: 4vh 0;
}


#brands{
    height: 100%;
    width: 100%;
    justify-content:space-evenly;
    align-items: center;
}

#brands #left{
    height: 100%;
    width: 50%;
}
#left span{
    display: block;
    height: 25vh;
    width: 90%;
     box-shadow: 2px 2px 5px 1px rgba(128, 128, 128, 0.637);
}

#left span img{
    width: 80%;
}


#brands #right{
    height: 100%;
    width: 45%;
}




#right span{
    display: block;
    height: 25vh;
    width: 90%;
     box-shadow: 2px 2px 5px 1px rgba(128, 128, 128, 0.637);
}



#right span img{
    width: 80%;
}

#main .img-1{
    height: 70vh;
    width: 600px;
    border-radius: 4px;
    overflow: hidden;
    background-color: green;
}


#main .img-2{
    overflow: hidden;
    height: 60vh;
    width:600px ;
    border-radius: 4px;
    background-color: green;
}




.main-btn{
    position: fixed;
    right: 35%;
    top: 10%;
    height: 4vh;
    width: 30vw;
    font-size: 3.1vw;
}

.main-btn::before{
    height: 100%;
    width: 100%;
    background-color: rgba(247, 4, 4, 0.505);
    content: "";
    display: block;
    position: absolute;
    top: -100%;
    transition: all 0.5s ease-in;
}




}